* {
    box-sizing: border-box;
}

html, body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Dengxian', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', sans-serif;
    font-size: 1.2em;
    color: white;
    background-image: url(../img/prism.png);
    margin: 0;
    padding: 0;
}

a {
    color: white;
}

header, main, footer {
    width: 100%;
    display: flex;
}

header {
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 28px;
    padding: 32px;
    font-size: 1.8em;
}

header, main section h2, footer {
    font-family: '华文中宋';
}

.function-name {
    font-size: 90%;
    margin-left: 14px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #dd6165;
    border-radius: 5px;
}

main {
    flex-direction: column;
}

main section {
    background-color: rgb(82, 82, 82);
    width: calc(100% - 40px);
    margin: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 20px 20px;
    border-radius: 14px;
}

main section:first-child {
    margin-top: 0;
}

main section:last-child {
    margin-bottom: 0;
}

main section p {
    line-height: 1.5;
}

main section h2 {
    margin-top: 0;
}

main section p:last-child {
    margin: 0;
}

.bg-color-1 {
    background-color: #c23f7d;
}

.bg-color-2 {
    background-color: #437bc6;
}

.bg-color-3 {
    background-color: #28a7a4;
}

.mono {
    font-family: 'Microsoft YaHei Mono', Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 96%;
}

.bubble-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bubble-wrapper:first-child {
    margin-top: 0;
}

.bubble-wrapper:last-child {
    margin-bottom: 0;
}

.bubble-wrapper.right {
    align-items: flex-end;
}

.bubble {
    min-height: 20px;
    color: #171717;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px 14px;
    border-top-left-radius: 3px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.bubble-wrapper.right .bubble {
    color: white;
    background-color: rgb(32, 160, 255);
    border-top-left-radius: 14px;
    border-top-right-radius: 3px;
}

footer {
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
    padding: 32px;
}